# MySQL local
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=change_me
MYSQL_DATABASE=smurfit_pdm_lab

# Kaggle
KAGGLE_DATASET=arnabbiswas1/microsoft-azure-predictive-maintenance

# Modelagem
FAILURE_HORIZON_HOURS=24
CLASSIFICATION_THRESHOLD=0.35